$margin: 16px;

form {
  box-sizing: border-box;
  position: absolute;
  top: 54px;
  bottom: 0;
  right: 0;
  left: 0;

  padding: 16px;
  grid-gap: 16px;

  display: grid;
  align-content: center;
  grid-template-areas:
    "search"
    "checkin"
    "checkout";
  
  .mat-form-field:nth-child(1) {
    grid-area: search;
  }
  .mat-form-field:nth-child(2) {
    grid-area: checkin;
  }
  .mat-form-field:nth-child(3) {
    grid-area: checkout;
  }
  
  @media only screen and ( min-device-width: 667px) {
    grid-template-areas:
      "search  search"
      "checkin checkout";
    }
    
  @media only screen and (min-device-width: 1023px) {
    justify-content: center;
  }
  @media only screen and (min-device-width: 1200px) {
    grid-gap: 24px;
    padding: 24px;
  }
}

