<form [formGroup]="service.searchForm">

  <mat-form-field appearance="fill"
    floatLabel="always">
    <mat-label>Location</mat-label>
    <input matInput
      formControlName="searchTerm"
      [matAutocomplete]="auto"
      placeholder="Enter a city, airport, or zip code">
    <mat-autocomplete #auto="matAutocomplete"
      [displayWith]="service.autocompletionDisplayWith"
      (optionSelected)="selected($event)">
      <mat-optgroup label="Locations">
        <mat-option *ngFor="let option of service.locationOptions$ | async"
          [value]="option">{{option.name}}</mat-option>
      </mat-optgroup>
      <mat-optgroup label="Airports">
        <mat-option *ngFor="let option of service.airportOptions$ | async"
          [value]="option">{{option.name}}</mat-option>
      </mat-optgroup>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Check-In Date</mat-label>
    <input matInput
      formControlName="checkin"
      [matDatepicker]="checkinPicker"
      placeholder="Check-in">
    <mat-datepicker-toggle matSuffix
      [for]="checkinPicker"></mat-datepicker-toggle>
    <mat-datepicker #checkinPicker></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Check-Out Date</mat-label>
    <input matInput
      formControlName="checkout"
      [matDatepicker]="checkoutPicker"
      placeholder="Check-out">
    <mat-datepicker-toggle matSuffix
      [for]="checkoutPicker"></mat-datepicker-toggle>
    <mat-datepicker #checkoutPicker></mat-datepicker>
  </mat-form-field>
</form>