<mat-card>
  <mat-card-header>
    <mat-card-title>{{ hotel.brand?.name || hotel.name }}</mat-card-title>
    <mat-card-subtitle>{{ hotel.name }}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image
    [src]="primaryPhoto(hotel.primary_photo)"
    alt="photo" />
  <mat-card-actions>
    <a mat-raised-button
      color="accent"
      [href]="rate.booking_url">BOOK IT for ${{ perNight() | number }} per night</a>
  </mat-card-actions>
  <mat-card-content>
    <h3>Amenities</h3>
    <app-amenities-icon-list [amenities]="hotel.amenities"
      [shorten]="showMore ? null : MAX_AMENITIES"></app-amenities-icon-list>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button
      [disabled]="isShowMoreDisabled"
      (click)="showMore = !showMore">
      {{ showMoreButtonLabel() }}
    </button>
  </mat-card-actions>
</mat-card>