@import '~@angular/material/theming';

mat-card {
  @include mat-elevation(1);
  &:hover {
    @include mat-elevation(16);
  }
}

mat-card-title {
  margin-top: 12px;
}

mat-card-subtitle {
  height: 34px;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: start;
  align-items: center;
}

img {
  display: grid;
  grid-template: 1fr / 1fr;
  object-fit: cover;
  height: 312px;
}

mat-card-actions {
  display: flex;
  flex-direction: column;
}