.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

mat-toolbar {
  $logo-height: 46px;
  $padding: 8px;
  padding-top: $padding;
  padding-bottom: $padding;
  display: grid;
  grid-template-areas: "logo slogan";
  grid-template-columns: 176px 1fr;
  height: $logo-height + $padding * 2;
  align-items: center;
  a {
    display: contents;
    color: inherit;
    text-decoration: inherit;
  }
  .slogan {
    grid-area: slogan;
  }
  img {
    grid-area: logo;
    height: $logo-height;
  }
}
