.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.header-logo-bar {
  $logo-height: 46px;
  $padding: 8px;
  height: $logo-height + $padding;
  font-size: 22px;
  padding-top: $padding;
  padding-bottom: $padding;
  img {
    height: 100%;
    margin-right: 20px;
  }
}

.header-search-bar {
  height: 88px;
  display: flex;
  flex-direction: row;
  app-location-search-box {
    flex-basis: 100%;
    padding-top: 26px;
  }
}